

@import './phone.css';

body {
    background-color: #EAEBED;   
   }
main {
    display: inline-block; width: 50%; margin-left: 25%; margin-top: 10%;
}
img {
     width: 40%; 
     float: left; 
}
div {
     width: 50%; float: right; 
     text-align: center;
     margin-top: 70px;
}
h1 {
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     font-size: 80px; margin: 0; color: #343E48;
}
.pirmas {
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     margin: 0; font-size: 20px; color: #575A6B;
}
.antras {
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     color: #9B9BA3;
}
a{
    display: inline-block; font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: #696F89; 
    color:  #fff;
    text-decoration: none; 
    padding: 20px;
    text-transform: uppercase; 
}