

@import './phone.css';

body {
    background-color: #EAEBED;  
     
   }
   main {
     width: 600px; 
     margin: 0 calc(50% - 400px);

}
img {
     width: 35%; 
     float: left; 
     margin: 0;
     padding-top: 250px;
}
div {
     width: 50%; float: right; 
     text-align: center;
     padding-top: 270px;
}
h1 {
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     font-size: 80px; 
     margin: 0; 
     color: #343E48;
}
.pirmas {
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     margin: 0; font-size: 20px; color: #575A6B;
}
.antras {
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
     color: #9B9BA3;
}
a{
    display: inline-block; font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: #696F89; 
    color:  #fff;
    text-decoration: none; 
    padding: 20px;
    text-transform: uppercase; 
}