@media (max-width: 900px) {
img {
    text-align: center;
        width: 100px;
        float: left;
        margin: 0 calc(100% - 500px);
    }
}


div {
    width: 100px;
    float: left;
    margin: 0 calc(100% - 500px);
}
}